<div class="fixed bottom-0 left-0 w-full text-gray-500 text-xs py-2 text-center">
    Copyright © <%= new Date().getFullYear() %> <a href="https://github.com/NOTBOOSTER/minecraft-voting-site" class="hover:underline">NOTBOOSTER</a>. All rights reserved.
</div>