<!DOCTYPE html>
<html>
<head>
    <title>Vote for our Server - Page <%= voteNumber %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body class="bg-gray-900 min-h-screen flex justify-center items-center py-8 px-4">
    <div id="votearea"class="bg-gray-700 bg-opacity-90 rounded-lg shadow-lg border-2 border-red-500 w-full max-w-md p-12 text-center">
        <h1 class="text-3xl font-bold text-red-500 mb-6">Vote for our Server <%= name %></h1>
        <p class="text-gray-300 mb-4">Vote on this site to receive amazing rewards!</p>
        <form id="voteForm" method="POST" action="/vote/<%= voteNumber %>" class="mb-4">
            <div class="mb-4 text-left">
                <label for="username" class="block text-red-500 text-sm font-bold mb-2">Minecraft Username:</label>
                <input type="text" id="username" name="username" required
                       pattern="^[a-zA-Z0-9_.]{3,16}$"
                       title="3-16 characters, alphanumeric and underscore only"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-100 border-red-500">
            </div>
            <button type="submit" class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline uppercase transition-transform transform hover:translate-y-[-2px]">Submit Vote</button>
        </form>
    </div>

    <div id="voteModal" class="hidden fixed bg-gray-800 bg-opacity-70 flex justify-center items-center">
        <div class="modal-content bg-gray-800 rounded-lg shadow-lg border-2 border-red-500 p-8 text-center">
            <h1 class="text-red-500 text-3xl font-bold mb-4">Vote in Progress</h1>
            <p class="text-gray-300 mb-4">Please wait while we process your vote...</p>
            <div class="countdown text-red-500 text-2xl font-bold">10</div>
    </div>

    <script>
        $(document).ready(function() {
            $('#voteForm').on('submit', function(e) {
                e.preventDefault();
                let countdown = 10;
                $('#voteModal').fadeIn();
                $('#voteModal').removeClass('hidden');
                $('#votearea').addClass('hidden');

                
                const timer = setInterval(function() {
                    countdown--;
                    $('.countdown').text(countdown);
                    
                    if (countdown <= 0) {
                        clearInterval(timer);
                        $('#voteModal').fadeOut();
                        document.getElementById('voteForm').submit();
                    }
                }, 1000);
            });
        });
    </script>
</body>
</html>
